body{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}